<div class="text-center">
  <h2>{{title}}</h2>
  <p>{{content}}</p>
  <p>Created by {{user.user_name}} on {{date_time}}</p>

  <p>
      {{blog.contents}}
    </p>

  <p>
    <button class="btn btn-primary">The tech blog</button>
  </p>
</div>
